#mojasuperkartkapapierupolecamgoraco { background-image: url(https://i.imgur.com/Pobffzm.png); width: 575px; height: 383px; transition: 1s; }

#mojasuperkartkapapierupolecamgoraco:hover { background-image: url(https://i.imgur.com/EpecJHc.png); transition: 1s }